*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 8px;
    ;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#Password{
    margin-left: 20px;
    padding-top: 25px;
}

#container1{
    vertical-align: middle;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-70%);
    /* padding: 100px;
    margin-left: 500px;
    margin-top: 80px; */
    padding: 10px;
    font-size: 12px;
}

#first_box {
    border: solid 1px lightgrey;
    padding-bottom: 10px;
}




#Forgot_Password{
    margin-left: 120px;
}

input{
    width: 300px;
    padding: 5px; 
}

h1 {
    font-size: 25px;
    font-weight: lighter;
}

ul {
    list-style-type: solid circle;
    color: blue;
    margin: 2px;
    

}

#Continue {
    background-color: rgb(245, 209, 6);
    padding: 5px;
    width: 313px;
    margin-top: 15px;
    border: solid rgb(151, 125, 23) 1px;
    border-collapse: 2px;
    font-size: 12px;
}

#Help {
    padding-top: 20px;
}

a {
    text-decoration: none;
}

#newamazon {
    font-size: 14px;
    padding-bottom: 2px;
    margin-bottom: 0px;
    width: 90%;
    text-align: center;
}



#create_account {
    padding: 5px;
    width: 313px;
    border: solid rgb(169, 165, 165) 1px;
    border-collapse: 2px;
    font-size: 12px;
    margin-top: -2px;
}

#container2 {
    margin-top: 475px;
    text-align: center;
}

footer {
    margin-top: 40px;
    font-size: 10px;
}


